{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Adicionar Venda{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="text-center mb-4">
                    <h2>Adicionar Venda</h2>
                </div>
                <form method="post" autocomplete="off" class="p-4 border rounded bg-white shadow-sm">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label for="{{ form.customer.id_for_label }}" class="form-label">Cliente</label>
                        {{ form.customer|add_class:"form-control" }}
                        {{ form.customer.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.total_amount.id_for_label }}" class="form-label">Valor Total</label>
                        {{ form.total_amount|add_class:"form-control" }}
                        {{ form.total_amount.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}